.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shaerd style */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    gap: 16px;
    border-radius: 5px;
    border: none;


}
/* header */
.header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
}


/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    color: #4E47FF;
    
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
}
nav ul li {
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* banner style */
.banner{
    
      margin: 309px 237px 267.5px 267.5px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 40px;
      text-align: center;
      
}
.banner-content{
    max-width: 905px;
    line-height: auto;
}

.banner-title {
    font-weight: bold;
    font-size: 65px;
    line-height: auto
    ;
    letter-spacing: 0;
    
    
}
/* action style */
.action {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 115px;

}

.action-description {
    font-weight: Regular;
    color:#25243250%;
    font-size: 24px;
    line-height: 30px;
    gap: 23px;
}

.action-title{
    font-weight: bold;
    font-size: 42px;
    line-height: auto;
    color: #252432;
    gap: 23px;

}

.action-content{
    max-width: 1140px;
}
.action-profile-pic{
    width: 403px;
    border-radius: 40px;
}

/* main style */
main{
    max-width: 1440px;
    margin: 0 auto;
}